!!! 5
%html
  %head
    %title Sansara
    = stylesheet_link_tag   "application"
    = javascript_include_tag "application"
    = javascript_include_tag "sansara"
    = csrf_meta_tags
  %body
    = yield
