!!! 5
%html
  %head
    %title JqueryCarousel
    = stylesheet_link_tag   "application"
    = javascript_include_tag "application"
    = javascript_include_tag "carousel"
    = csrf_meta_tags
  %body
    = yield
